// Importo botones 
@import "btn";
@import "variables";
@import "palabrapage";

// Globales 
a, a:link, a:visited, a:active, a:hover{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
}
.body{
    background-color: $color--gray;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 1fr 10vh;
    grid-template-areas: 
                    "header"
                    "main"
                    "footer";
}
// index
.header{
    grid-area: header;
    height: 10%;
    padding: 2rem 0 0 2rem;
    user-select: none;
    color: #13c713;
}

.main{
    grid-area: main;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    grid-area: footer;

}

/// Pagina game

.header{
    display: flex;
    align-items: center;
    height: 10%;
    padding: 2rem 0 1rem 2rem;
    user-select: none;

}
.myPage{
    color: $color--darkBlue;
    margin: 0;
    margin-left: 1rem;
    font-size: 2.5rem;
    color:$color--darkBlue;
    height: 100%;
} 
.main-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botones-game{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn--game{
    display: block;
    margin: 1rem;
    font-weight: 600;
    font-size: .8rem;
    border-radius: 1rem;
    width: 10rem;
    height: 2.5rem;
    border: none;
    flex-grow: 1;
    flex-shrink: 1;
    &:hover {
        transition: all .3s ease-in-out;
        transform: scale(1.05);
        }       
    &:active {
        transition: all .3s ease-in-out;
        transform: scale(0.8);
       }

}
.btn__nuevoJuego , .btn__guardar {
    background-color: $color--darkBlue;
    color: #D8DFE8;
}

.btn__desistir, .btn__volver{
    background-color: #D8DFE8;
    color: $color--darkBlue;
    border: 1px solid $color--darkBlue;
}

