/* From uiverse.io */
.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin: 1rem 0;
}

.btn.btn-menu {
  width: 18rem;
  min-width: 15rem;
  height: auto;
}

.btn.btn-menu .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #0A3871;
  border-radius: 1.625rem;
}

.btn.btn-menu .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.btn.btn-menu .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.btn.btn-menu .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn.btn-menu .button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #0A3871;
  font-weight: 800;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover .circle {
  width: 100%;
}

.btn:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}

.btn:hover .button-text {
  color: #fff;
}

.title {
  color: #0A3871;
}

textarea {
  background-color: inherit;
  border: none;
  display: block;
  margin: .8rem auto;
  width: 90%;
  max-width: 400px;
  height: 60vh;
  resize: none;
  color: #0A3871;
  padding: 1rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.note {
  margin: .8rem;
  font-size: 1.2rem;
}

.note--exclamation {
  color: white;
  display: inline-block;
  text-align: center;
  margin: 0 0.5rem 0 1rem;
  background-color: #67808E;
  width: 1.3rem;
  border-radius: 50%;
}

a, a:link, a:visited, a:active, a:hover {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.body {
  background-color: #E5E5E5;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 20vh 1fr 10vh;
      grid-template-rows: 20vh 1fr 10vh;
      grid-template-areas: "header" "main" "footer";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  height: 10%;
  padding: 2rem 0 0 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #13c713;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10%;
  padding: 2rem 0 1rem 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.myPage {
  color: #0A3871;
  margin: 0;
  margin-left: 1rem;
  font-size: 2.5rem;
  color: #0A3871;
  height: 100%;
}

.main-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.botones-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn--game {
  display: block;
  margin: 1rem;
  font-weight: 600;
  font-size: .8rem;
  border-radius: 1rem;
  width: 10rem;
  height: 2.5rem;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.btn--game:hover {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn--game:active {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.btn__nuevoJuego, .btn__guardar {
  background-color: #0A3871;
  color: #D8DFE8;
}

.btn__desistir, .btn__volver {
  background-color: #D8DFE8;
  color: #0A3871;
  border: 1px solid #0A3871;
}
/*# sourceMappingURL=style.css.map */